/* FORMULARIO */
form {
  font-family: Calibri;
  border: solid black 1px;
  width: 35%;
  height: 75%;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #191414;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

label {
  margin-bottom: 2%;
  margin-top: 1%;
}

input, select, textarea {
  padding: 1.5%;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

input.error, select.error, textarea.error {
  border-color: #FF4C4C;
}

input.success, select.success, textarea.success {
  border-color: #1DB954;
}

.error-message {
  color: #FF4C4C;
  font-size: 100%;
  margin-top: 1%;
  margin-bottom: 0.3%;
}

button {
  margin-top: 3%;
  width: 100%;
  border-radius: 4px;
  padding: 1.5%;
  background-color: #1DB954;
  color: black;
  cursor: pointer;
  border: none;
  font-weight: bold;
  align-self: center;
}

button:hover {
  background-color: #15833C;
  color: white;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #1DB954;
  margin: 0.5%;
  font-size: 40px;
}
